<div class="container-fluid vh-100 d-flex">
  <!-- Left Sidebar -->
  <div class="sidebar-container bg-light border-end p-3" style="width: 250px;">
    <div class="user-info text-center mb-4">
      <img src="sea.jpg" (click)="clickedOnIcon()" alt="sidekick-icon" class="img-fluid" style="margin-bottom: 15px">
      <h4 (click)="clickedOnIcon()"><i>acetea</i></h4>
      <img [src]="this.userService.userInfo?.avatarStatic" alt="User Icon" class="img-fluid rounded-circle mb-2" style="width: 50px; height: 50px;">
      <p class="mb-1 fw-bold">{{ this.userService.userInfo?.username }}</p>
    </div>
    <div class="nav-buttons d-flex flex-column">
      <button class="btn btn-outline-danger mb-2" (click)="navigateTo(Feed.HOME)">Home</button>
      <button class="btn btn-outline-secondary mb-2" (click)="navigateTo(Feed.LOCAL)">Local Feed</button>
      <button class="btn btn-outline-secondary mb-2" (click)="navigateTo(Feed.GLOBAL)">Global Feed</button>
      <button class="btn btn-outline-secondary mb-2" (click)="navigateTo(Feed.SEAMANTIC)">Seamantic Feed</button>
    </div>
    <br>
    <div class="nav-buttons d-flex flex-column">
      <button class="btn btn-outline-secondary mb-2">Settings</button>
    </div>
    <br>
    <div class="text-center">
      <label>Sea-Level:&nbsp;</label>
      <label>{{seLevelService.seLevel}}</label>
    </div>
    <div class="text-center">
      <label [hidden]="seLevelService.seLevel <= seLevelService.MAXIMUM_SE_LEVEL">Too high!<br>(Lower your Sea-Level by inserting knowledge into the feed)</label>
    </div>
  </div>

  <div class="feed-container flex-grow-1 d-flex flex-column">
    @if (selectedFeed == Feed.HOME) {
      <app-home-feed class="overflow-auto"></app-home-feed>
    } @else if (selectedFeed == Feed.LOCAL) {
      <app-local-feed class="overflow-auto"></app-local-feed>
    } @else if (selectedFeed == Feed.GLOBAL) {
      <app-global-feed class="overflow-auto"></app-global-feed>
    } @else if (selectedFeed == Feed.SEAMANTIC) {
      <app-semantic-feed></app-semantic-feed>
    }
  </div>

  <!-- Fixed Post Box -->
  <div class="post-box fixed-bottom">
    <select *ngIf="selectedFeed == Feed.SEAMANTIC" [(ngModel)]="selection">
      <option value="query">Query</option>
      <option value="insert">Insert Item</option>
    </select>

    <div class="mb-3">
      <!-- Display textarea for query -->
      <textarea
        *ngIf="!(selection == 'insert')"
        [value]="newMessage"
        class="form-control"
        (input)="onInputChanged($event)"
        rows="2"
        placeholder="What's happening?">
    </textarea>

      <!-- Display input fields for insert -->
      <div *ngIf="selection == 'insert' && selectedFeed == Feed.SEAMANTIC">
        <input
          [(ngModel)]="insertLabels"
          class="form-control mb-2"
          placeholder="Label"
          type="text" />
        <input
          [(ngModel)]="insertDescriptions"
          class="form-control mb-2"
          placeholder="Description"
          type="text" />
      </div>
    </div>

    <button
      (click)="clickedOnSendToMyAccount()"
      class="btn btn-outline-dark ms-3"
      style="float: right">
      Send
    </button>
  </div>
</div>
